*{
	margin:0px;
	padding:0px;
}
body{
font-family:ו;
font-size:14px;;
width:100%;
margin:0 auto;
background:url(../images/bglogo.gif) repeat-x -20% 300px;
background-color:#E9EAE9;
}
h3{
color:#0D3D79;
font-size:15px;
}
#header #top{
width:100%;
height:38px;
background-image:url(../images/top.gif);
}
#header #top a{
margin:0;
margin-top:10px;
font-size:0.9em;
padding:0px 20px;
float:right;
color:#fff;
border-right:solid #fff 1px;
}
#header #top #right1{
margin-right:200px;
border-style:none;
}
#header #middle{
margin:0px;
width:100%;
height:190px;
background: #fd9800 url(../images/banner.jpg) no-repeat center -4px;
}
#header #middle #logo2{
float:left;
margin:80px 0 0 15%;
}
#header #nav{
position:relative;
margin-top:-4px;
width:100%;
height:46px;
background:url(../images/nav.gif) repeat-x;
}
#header #nav ul{
width:925px;
vertical-align:middle;
margin:0 auto;
color:#fff;
}
#header #nav ul a{
margin-top:2px;
float:left;
width:100px;
padding:10px 0;
color:#fff;
text-decoration:none;
text-align:center;
}
ul a p{
float:left;
width:100%;
border-right:solid #fff 1px;
margin:0px;
}
#current{
background-color:#FFFFFF;
}
#current p{
border-style:none;
color:orange;
}
#header #nav ul a #right2{border-style:none;}

#header #nav ul a:hover{
color:orange;
font-weight:bold;
}

#container{
width:900px;
border:4px solid #fff; 
background:#eff0f0;
height:590px;
padding:20px 10px;
margin:10px auto;
}

#bottom{
background-color:#303838;
padding:35px;
margin:20px 0px 0px 0px;
}
#bottomtext{
text-align:center;
font-size:14px;
color:#d3e2f5;
}
#bottomtext a{
text-decoration:none;
color:#d3e2f5;
}

